nav {
    display: flex;
    box-shadow: 5px 5px 10px whitesmoke;
}

img {
    width: 65px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
}


ul {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

li {
    margin: 0 30px;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: gray;
}

li>div {
    background-color: transparent;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 0 auto;
}

li:hover div {
    background-color: blue;
}

.bottom_navigation {
    display: none;
    opacity: 0;

}

@media only screen and (max-width: 480px) {
    nav {
        display: none;
    }

    .bottom_navigation {
        opacity: 1;
        position: fixed;
        left: 0%;
        z-index: 1500;
        margin-top: 10px;
        height: 49px;
        bottom: -2px;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;
        align-items: center;
        background-color: aqua;
        border-radius: 15px 15px 0 0;
        text-align: center;
        box-shadow: -1px 3px 16px grey;
    }

    .nav-div {
        width: 41px;
        font-size: 42px;
    }

    .nav-home {
        border-radius: 50%;
        position: absolute;
        top: -27%;
        padding: 3px;
        left: 43%;
        background-color: rgb(255, 255, 255);
        font-size: 42px;
    }

    .nav-icon {
        border-radius: 50%;
        position: absolute;
        bottom: 5%;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        font-size: 30px;
    }
}